<!-- <header> -->
<nav
  class="navbar navbar-expand-md navbar-info sticky-top"
  style="background-color: aliceblue"
>
  <div class="container-fluid mx-3">
    <a class="navbar-brand" href="#"
      ><img
        width="100"
        src="https://images.clipartlogo.com/files/istock/previews/8895/88958435-cartoon-quiz-sign.jpg"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse fs-5 ms-3" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0 ml-2">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Subject</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/history">History</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          name="armure"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="textContent"
        />
        <a class="btn btn-outline-success" type="">Search</a>
      </form>
      &nbsp;
      <a *ngIf="!author" routerLink="/login" class="btn btn-info ms-3">Login</a>
      <a *ngIf="author" (click)="logout()" class="btn btn-dark ms-3">Logout</a>
    </div>
  </div>
</nav>
<!-- </header> -->
<main class="container mt-4">
  <router-outlet></router-outlet>
</main>
<footer class="pt-3 mt-4 bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Features</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Pricing</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">FAQs</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">About</a>
    </li>
  </ul>
  <i class="d-block text-center text-muted pb-2"
    >© 2022 Quan Troy Company, Inc</i
  >
</footer>
