<!-- Modal -->
<div
  class="modal fade"
  id="formAddQuestionModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form action="" [formGroup]="formAddQue">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Add question</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <label for="">
                <h5>Question</h5>
                <textarea
                  class="form-control mt-2"
                  name=""
                  id=""
                  cols="50"
                  rows="9"
                  formControlName="Text"
                ></textarea>
              </label>
            </div>
            <div class="col-6">
              <h5 class="d-inline me-3">Answer</h5>
              <span class="fs-4 text-success"
                ><a style="cursor: pointer" (click)="addAsn()"
                  ><i class="far fa-plus-square"></i
                ></a>
              </span>
              <ng-container formArrayName="Answers_temp">
                <div *ngFor="let a of Answers_temp.controls; index as i">
                  <div class="input-group mb-2">
                    <div class="input-group-text">
                      <input
                        class="form-check-input mt-0"
                        type="radio"
                        name="asn"
                        aria-label="Radio button for following text input"
                        (change)="setAsnIdCorrect(i)"
                      />
                    </div>
                    <input
                      type="text"
                      class="form-control pr-3"
                      aria-label="Text input with radio button"
                      [formControl]="$any(Answers_temp.controls[i])"
                    />
                    <span
                      class="fs-4 text-danger bg-light p-2"
                      style="cursor: pointer"
                      (click)="removeAsn(i)"
                    >
                      <i class="fas fa-times"></i>
                    </span>
                  </div></div
              ></ng-container>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                (click)="submitFormAddQue()"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
