<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3 bg-light">
  <div class="col" *ngFor="let item of listSub">
    <div class="card shadow-sm">
      <div
        class="card-head bg-warning d-flex justify-content-center d-flex align-items-center"
        style="height: 250px"
      >
        <b class="p-3" style="text-align: justify">
          {{ item.Name }}
        </b>
      </div>

      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <!-- app-quiz -->
            <button
              routerLink="/quiz/{{ item.Code }}"
              type="button"
              class="btn btn-sm btn-outline-info"
            >
              View
            </button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">
              Edit
            </button> -->
          </div>
          <b class="text-muted">Code: {{ item.Code }}</b>
        </div>
      </div>
    </div>
  </div>
</div>
