<!-- <div class="row">
  <div class="col-8 m-auto">
    <fieldset
      *ngFor="let q of listQuestion; index as i"
      class="card mb-2 rounded-0 p-3 col-12"
    >
      <div class="card-body">
        <h5 class="card-title">Câu hỏi {{ i + 1 }} : {{ q.Text }}</h5>
      </div>
      <ul class="ml-2" style="list-style-type: none">
        <li
          class="card-subtitle col-12 m-2 text row"
          *ngFor="let a of q.Answers"
        >
          <div class="col-1">
            <input
              type="radio"
              name="{{ q.Id }}"
              [(ngModel)]="q.selected"
              value="{{ a.Id }} "
            />
          </div>
          <span class="col-10">{{ a.Text }}</span>
        </li>
      </ul>
    </fieldset>
    <button class="btn btn-info mb-5 mt-3" (click)="submitQuiz()">
      Nộp bài
    </button>
  </div>
</div> -->
